<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @conversation %>

<%= turbo_frame_tag @conversation do %>
  <%= render @conversation %>

  <div>
    <%= link_to "Edit this project conversation", edit_conversation_path(@conversation) %>
  </div>
<% end %>
<%= link_to "Back to project conversations", conversations_path %>
<%= button_to "Destroy this project conversation", @conversation, method: :delete %>

<div id="messages">
  <%= render @conversation.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_conversation_message_path(@conversation, target: "_top") %>
