<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @conversation %>

<%= turbo_frame_tag @conversation do %>
  <%= render @conversation %>

  <div>
    <%= link_to "Edit this conversation", edit_conversation_path(@conversation) %> |
    <%= link_to "Back to conversations", conversations_path %>
  </div>
<% end %>
<%= button_to "Destroy this conversation", @conversation, method: :delete %>

<div id="messages">
  <%= render @conversation.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_conversation_message_path(@conversation, target: "_top") %>
